<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
</head>
<body>
  <h1>Cars</h1>
  <hr/>
  <h2>Table</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Display</th>
      <th>isCommon</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>ll</td>
      <td>ll</td>
      <td>ll</td>
      <td>ll</td>
    </tr>
    <tr>
      <td>ll</td>
      <td>ll</td>
      <td>ll</td>
      <td>ll</td>
    </tr>
  </table>
  <hr/>
  <h2>List by country</h2>
  <%= data %>
</body>
</html>